.Data {
    background-color: #A7E0E0;
    position: inherit;
    top: 50px;
    margin-left: 50px;
    display: flex;
    width: 500px;
  }
  
  .liData {
    color: black;
    flex-direction: column;
    width: 500px;

  }
